NET "clk"        LOC = "B8";
NET "areset"     LOC = "G12";
NET "selec"      LOC = "A7";
NET "cancel"     LOC = "M4";
NET "increm"     LOC = "C11";
NET "ver_ms"     LOC = "P11";
NET "lucecita"   LOC = "M5";
NET "edo_out<2>" LOC = "G1";
NET "edo_out<1>" LOC = "P4";
NET "edo_out<0>" LOC = "N4";
# Mux #######################
NET "mux<3>"     LOC = "F12";
NET "mux<2>"     LOC = "J12";
NET "mux<1>"     LOC = "M13";
NET "mux<0>"     LOC = "K14";
# Contador ##################
NET "seg<7>"     LOC = "N13";
NET "seg<6>"     LOC = "M12";
NET "seg<5>"     LOC = "L13";
NET "seg<4>"     LOC = "P12";
NET "seg<3>"     LOC = "N11";
NET "seg<2>"     LOC = "N14";
NET "seg<1>"     LOC = "H12";
NET "seg<0>"     LOC = "L14";
